<h1>記事更新</h1>

<%# エラーメッセージ %>
<%= render 'error_message', errors: @article.errors %>

<%= form_for @article do |f| %>
  <%= f.text_field :subject %>
  <%= f.text_area :body %>
  <%= f.check_box :published_status %>
  <%= f.submit '記事を修正する' %>
<% end %>
<%= link_to '記事一覧へ戻る', articles_path %>