<h1>記事一覧</h1>
<%= link_to '新しい記事を書く', new_article_path %>
<% @articles.each do |article| %>
  <div><%= article.subject %></div>
  <%= link_to '記事詳細はこちら', article_path(article) %>
  <%= link_to '記事を修正する', edit_article_path(article) %>
  <hr>
  <br>
<% end %>
<%= paginate @articles %>
<%= link_to '新しい記事を書く', new_article_path %>